# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Logs & models (big, local)
logs/
models/

# OS/editor
.DS_Store
.vscode/
.idea/

# Data (local only)
data/*.csv
data/*.json
data/*.parquet

# Env files
.env
.env.*
